.login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
    background-size: cover;
    position: relative;
  
    .top {
      .wrapper {
        padding: 1.25rem 3.125rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          height: 2.5rem;
        }
      }
    }
  
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
  
      form {
        width: 18.75rem;
        height: 18.75rem;
        padding: 1.875rem;
        border-radius: 0.3125rem;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
  
        input {
          height: 2.5rem;
          border-radius: 0.3125rem;
          background-color: gray;
          color: white;
          padding-left: 10px;
  
          &::placeholder {
            color: lightgray;
          }
        }
  
        button {
          height: 2.5rem;
          border-radius: 0.3125rem;
          background-color: red;
          color: white;
          border: none;
          font-size: 1.125rem;
          font-weight: 500;
          cursor: pointer;
        }
  
        span {
          color: lightgray;
          .signup{
            text-decoration: none;
          }
          b {
            color: white;
          }
        }
      }
    }
  }